@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans:wght@400;600;800&family=Source+Sans+Pro&display=swap');

/*
  set global defaults
*/
:root {
  --color-style-1: #368ac2;
  --color-style-2: #5f5f5f;
  --color-style-3: #dadada;
  --color-style-4: #333333;
  --color-style-5: #317db0;
  --color-style-6: #69c8d6;
  --color-style-7: #c8c8ce;
  --color-submit-button: var(--color-style-6);
  --max-width-main: 1300px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

img,
svg {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--color-style-4);
  color: var(--color-style-3);
  line-height: 1.5;
}
--color-style-7
/* 
  Utility Classes 
*/
.blur-bg {
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
}

svg#wave {
  height: 75px;
  width: 100vw;
  max-width: var(--max-width-main);
  text-align: center;
  display: block;
  margin: auto;
}

svg#wave.projects-wave {
  fill: var(--color-style-5);
}

svg#wave.contact-wave {
  fill: var(--color-style-7);
  background-color: var(--color-style-5);
}

/*
  Header
*/
header {
  display: flex;
  /* position: -webkit-sticky; */
  /* position: sticky; */
  top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 0px auto;
  padding: 0px 40px 0px 40px;
  max-width: var(--max-width-main);
  min-height: 100px;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
}

header nav {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  gap: 15px;
}

header nav a {
  color: var(--color-style-3);
  font-size: 0.875rem;
  font-family: 'Bitter', serif;
  text-decoration: none;
}

header .logo {
  display: flex;
  flex-shrink: 1;
  color: var(--color-style-2);
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-spacer {
  align-self: center;
  border-radius: 2px;
  background-color: var(--color-style-1);
  width: 2px;
  height: 1.2rem;
}

/*
  Hero Section
*/
section.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 2rem auto 0 auto;
  padding: 0px 40px 10px 40px;
  max-width: var(--max-width-main);
  height: 350px;
}

.hero-image-container {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  box-shadow: 0px 0px 70px var(--color-style-1);
  border: 5px solid var(--color-style-5);
  border-radius: 50%;
  background: linear-gradient(-45deg, var(--color-style-1) 40%, var(--color-style-6) 60%);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.hero-aside {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 50px;
  max-width: 40%;
}

.hero-text {
  color: var(--color-style-3);
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.hero-bold {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    -45deg,
    var(--color-style-1) 25%,
    var(--color-style-6) 45%,
    var(--color-style-1) 55%,
    var(--color-style-6) 75%,
    var(--color-style-1) 85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

.hero-links {
  display: flex;
  justify-content: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.hero-links img {
  display: inline;
}

.hero-links a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
  margin-right: 20px;
  border-radius: 3px;
  padding: 5px;
  color: var(--color-style-3);
  font-size: 0.875rem;
  font-family: 'Bitter', serif;
  text-decoration: none;
}

.hero-links a:hover {
  box-shadow: 0px 0px 30px #4d4d4d;
  background-color: #4d4d4d;
}

/*
  Tech Stack
*/
.tech-stack-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  color: var(--color-style-3);
  font-weight: bold;
  font-size: 0.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.tech-stack-list .line {
  display: flex;
  flex-shrink: 1;
  background-color: var(--color-style-3);
  width: 90px;
  height: 1px;
}

.list-item-text {
  text-align: center;
  font-size: 0.7rem;
}

/*
  projects Section
*/
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding: 0px 50px 50px 50px;
  max-width: var(--max-width-main);
  color: var(--color-style-3);
  background-color: var(--color-style-5);
  border-radius: 4px;
}

.projects-title {
  margin: 50px 0 50px 0;
  text-align: center;
  font-weight: 800;
  font-size: 2rem;
  font-family: 'Source Sans Pro', sans-serif;
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 125px;
}

.card {
  display: flex;
  gap: 1.5rem;
}

.card-image-container {
  display: flex;
  max-width: 450px;
}

.card img {
  box-shadow: 0px 0px 10px #dadada49;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}

.card-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
  max-width: 300px;
}

.card-text {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-title {
  margin-bottom: 0.5rem;
  color: var(--color-style-3);
  font-weight: bold;
  font-size: 1.1rem;
  font-family: 'Open Sans', sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
}

.card-title:hover {
  color: var(--color-style-1);
}

/*
  Badges
*/
.card-badges {
  padding-left: 10px;
}

.badge {
  display: inline-block;
  margin-right: 5px;
  border-radius: 8px;
  background-color: var(--color-style-2);
  padding: 2px 10px 2px 10px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.shopify {
  background-color: #96bf48;
}

.full-stack {
  background-color: #ea4e56;
}

.javascript {
  background-color: #f7df1e;
  color: var(--color-style-4);
}

.front-end {
  background-color: #143449;
}

.wordpress {
  background-color: #21759b;
}

/*
  Contact Section
*/
.form-bg-image {
  position: absolute;
  top: -45px;
  right: 100px;
}

.contact-section {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 auto 0 auto;
  padding-bottom: 50px;
  max-width: var(--max-width-main);
  background-color: var(--color-style-7);
}

.contact-form-container {
  display: flex;
  justify-content: center;
  gap: 25px;
  border-radius: 15px;
  background-color: var(--color-style-4);
  padding: 25px;
  margin-top: 50px;
  max-width: 645px;
}

.text-aside {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 40%;
  height: 100%;
}

.form-image-container {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-end;
}

.form-image-container img {
  position: absolute;
  bottom: 10px;
}

.form-text {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
}

.form-image-1 {
  padding: 0 0 3px 5px;
}

.contact-section .title {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

form {
  width: 60%;
  line-height: 2rem;
}

form input,
form textarea {
  display: block;
  position: relative;
  border: 1px solid var(--color-style-5);
  border-radius: 4px;
  background-color: var(--color-style-7);
  padding-left: 10px;
  width: 100%;
  color: black;
  line-height: 4ex;
  font-family: 'Bitter', serif;
}

form input:focus,
form textarea:focus {
  border: 1px purple solid;
}

form textarea {
  resize: vertical;
  height: 150px;
}

form label {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: var(--color-style-3);
  font-family: 'Bitter', serif;
  text-indent: 10px;
  /* text-decoration: underline; */
}

form button {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: var(--color-submit-button);
  padding: 8px;
  width: 60%;
}

.success {
  background-color: rgb(49, 240, 91);
}

form button span {
  color: #1f1f1f;
  font-weight: 600;
  font-size: 1rem;
  font-family: 'Source Sans Pro', sans-serif;
  padding-bottom: 1px;
  vertical-align: middle;
  text-align: center;
  margin: auto;
  line-height: 2rem;
}

.send-icon {
  transform: rotate(-30deg);
  height: 18px;
  content: url('../img/MaterialSymbolsSendRounded.svg');
}

form button[type='submit']:hover {
  box-shadow: 0 0 5px var(--color-style-6);
}

/*
Footer Section
*/
footer {
  display: flex;
  justify-content: flex-start;
  border-top: 4px solid var(--color-style-5);
  height: 75px;
  background-color: var(--color-style-4);
}

.footer-container {
  display: flex;
}

.footer-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

footer .hero-links {
  gap: 30px;
  padding-left: 50px;
  color: black;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: space-around;
  }

  header nav {
    align-items: center;
    font-size: 0.7rem;
  }

  .hero-aside {
    gap: 15px;
  }

  .card {
    flex-direction: column;
  }

  .card:nth-child(even) {
    flex-direction: column;
  }

  .card-image-container {
    margin: 0 auto 0 auto;
  }

  .card-aside {
    align-self: center;
    max-width: 400px;
    gap: 2rem;
  }

  .form-bg-image {
    display: none;
  }

  .projects-title {
    justify-content: center;
    font-size: 1.5rem;
  }

  footer {
    justify-content: center;
  }

  footer .hero-links {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  header {
    margin-bottom: 40px;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-links {
    justify-content: center;
  }

  .hero-links a {
    margin: 0px;
    padding: 3px 7px 3px 3px;
  }

  .hero-image-container {
    gap: 5px;
  }

  .hero-aside {
    max-width: 100%;
  }

  .hero-text {
    font-size: 1.3rem;
    text-align: center;
  }

  .logo {
    font-size: 0.8rem;
  }

  .tech-stack-list {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .tech-stack-list .line {
    width: 100%;
  }

  .tech-stack-list span {
    width: 100%;
    text-align: center;
  }

  .projects {
    margin: 0px auto 0px auto;
    padding: 0px 20px 0px 20px;
  }

  .separator {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    /* drop the height to have a constant angle for all screen widths */
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
  }

  .contact-form-container .text-aside {
    gap: 30px;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .form-image-container {
    display: none;
  }

  form {
    width: 100%;
  }

  .contact-form-container h1 {
    text-align: center;
  }

  .contact-section .text-aside {
    gap: 5px;
  }
}
