@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans:wght@400;600;800&family=Source+Sans+Pro&display=swap");

:root {
  --color-style-1: #368ac2;
  --color-style-2: #5f5f5f;
  --color-style-3: #dadada;
  --color-style-4: #181818;
  --color-style-5: #6b9396;
  --color-style-6: #69c8d6;
  --color-full-stack: #ea4e56;
  --color-shopify: #96bf48;
  --color-wordpress: #21759b;
  --color-javascript: #f7df1e;
  --color-front-end: #368ac2;
  --max-width-main: 1200px;
  --hero-section-height: 400px;
}

/*
//
//  CSS reset
//
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

li,
ul {
  list-style: none;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Add accessible line-height */
body {
  line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}
/* end css reset */

body {
  background-color: var(--color-style-4);
  color: var(--color-style-3);
}

/*
//
//  Header
//
*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 0px auto;
  padding: 0px 40px 0px 40px;
  max-width: var(--max-width-main);
  min-height: 100px;
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
}

header nav {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  gap: 15px;
}

header nav a {
  color: var(--color-style-3);
  font-size: 0.875rem;
  font-family: "Bitter", serif;
  text-decoration: none;
}

header .logo {
  display: flex;
  flex-shrink: 1;
  color: var(--color-style-2);
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.rect {
  align-self: center;
  border-radius: 2px;
  background-color: var(--color-style-1);
  width: 2px;
  height: 1.2rem;
}

/*
//
//  Hero Section
//
*/

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto 0 auto;
  padding: 0px 40px 10px 40px;
  max-width: var(--max-width-main);
  height: var(--hero-section-height);
}

.hero-image-container {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  filter: opacity(80%);
  box-shadow: 0px 0px 70px var(--color-style-1);
  border: 5px solid var(--color-style-5);
  border-radius: 50%;
  background: linear-gradient(
    -45deg,
    var(--color-style-1) 40%,
    var(--color-style-6) 60%
  );
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.hero-aside {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 50px;
  max-width: 40%;
}

.hero-text {
  color: var(--color-style-3);
  font-weight: 600;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
}

.hero-bold {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    -45deg,
    var(--color-style-1) 25%,
    var(--color-style-6) 45%,
    var(--color-style-1) 55%,
    var(--color-style-6) 75%,
    var(--color-style-1) 85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
  font-family: "Open Sans", sans-serif;
}

.hero-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-links img {
  display: inline;
}

.hero-links a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
  margin-right: 20px;
  border-radius: 3px;
  padding: 5px;
  color: var(--color-style-3);
  font-size: 0.875rem;
  font-family: "Bitter", serif;
  text-decoration: none;
}

.hero-links a:hover {
  box-shadow: 0px 0px 30px #4d4d4d;
  background-color: #4d4d4d;
}

.long-line {
  position: absolute;
  left: 50px;
  border-radius: 3px;
  background-image: linear-gradient(
    to bottom,
    var(--color-style-1),
    var(--color-style-5)
  );
  width: 3px;
  height: 750px;
}

/*
//
//  Tech Stack
//
*/

.tech-stack-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 0px 40px 10px 40px;
}

.tech-stack-list {
  color: var(--color-style-3);
  font-weight: bold;
  font-size: 0.8rem;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
}

.tech-stack-list .line {
  display: flex;
  flex-shrink: 1;
  background-color: var(--color-style-3);
  width: 90px;
  height: 1px;
}

/*
//
//  Work Section
//
*/

.work {
  display: flex;
  justify-content: center;
  margin: 125px auto 125px auto;
  padding: 0px 40px 0px 40px;
  max-width: var(--max-width-main);
  color: var(--color-style-3);
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 125px;
}

.card {
  display: flex;
  gap: 1.5rem;
}

.card-image-container {
  display: flex;
  min-width: 275px;
  max-width: 500px;
  /* overflow: hidden; */
}

.card img {
  box-shadow: 0px 0px 10px #dadada49;
  border-radius: 10px;
  object-fit: fill;
}

.card-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 300px;
}

.card-text {
  font-family: "Source Sans Pro", sans-serif;
}

.card-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

/*
//
//  Badges
//
*/

.card-badges {
  padding-left: 10px;
}

.badge {
  display: inline-block;
  margin-right: 5px;
  border-radius: 10px;
  background-color: var(--color-style-2);
  padding: 2px 10px 2px 10px;
  max-width: fit-content;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.75rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
}

.shopify {
  background-color: var(--color-shopify);
}

.full-stack {
  background-color: var(--color-full-stack);
}

.javascript {
  background-color: var(--color-javascript);
  color: var(--color-style-4);
}

.front-end {
  background-color: var(--color-front-end);
}

.wordpress {
  background-color: var(--color-wordpress);
}

/*
//
//  Footer
//
*/

footer {
  border-top: 1px solid var(--color-style-1);
  min-height: 100px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: space-around;
  }

  header nav {
    align-items: center;
    font-size: 0.7rem;
  }

  .hero-aside {
    gap: 15px;
  }

  .card {
    flex-direction: column;
  }

  .card:nth-child(even) {
    flex-direction: column;
  }

  .card-aside {
    align-self: center;
    max-width: 400px;
  }
}

@media (max-width: 480px) {
  .hero-section {
    flex-direction: column;
    margin-top: 50px;
  }

  .hero-links {
    justify-content: start;
  }

  .hero-image-container {
    gap: 5px;
  }

  .hero-aside {
    max-width: 100%;
  }

  .hero-text {
    font-size: 1.3rem;
  }

  .logo {
    font-size: 0.8rem;
  }

  .tech-stack-list {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .tech-stack-list .line {
    display: none;
  }

  .work {
    margin: 75px auto 75px auto;
    padding: 0px 20px 0px 20px;
  }
}
