@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

:root {
  --color-style-1: #368ac2;
  --color-style-2: #5f5f5f;
  --color-style-3: #dadada;
  --color-style-4: #262626;
  --color-bg-1: #000000;
  --color-bg-2: #333333;
  --color-text-1: #111111;
  --color-text-2: #222222;
  --max-width-main: 1200px;
}

/*
//
//  CSS reset
//
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

li,
ul {
  list-style: none;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Add accessible line-height */
body {
  line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

body {
  background-color: var(--color-style-4);
}

/*
//
//  Header
//
*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 0 20px 0 20px;
  max-width: var(--max-width-main);
  min-height: 100px;
  font-family: 'Open Sans';
  white-space: nowrap;
}

header nav {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  gap: 15px;
}

header nav a {
  color: var(--color-style-3);
  text-decoration: none;
}

header .logo {
  display: flex;
  flex-shrink: 1;
  color: var(--color-style-2);
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
}

.rect {
  align-self: center;
  background-color: var(--color-style-1);
  width: 2px;
  height: 1.2rem;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: space-around;
  }

  header nav {
    align-items: center;
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
}
