@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

:root {
  --color-style-1: #368ac2;
  --color-style-2: #5f5f5f;
  --color-style-3: #dadada;
  --color-style-4: #262626;
  --color-bg-1: #000000;
  --color-bg-2: #333333;
  --color-text-1: #111111;
  --color-text-2: #222222;
  --color-rect: var(--color-style-1);
  --max-width-main: 1000px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

li,
ul {
  list-style: none;
}

/* 3. Allow percentage-based heights in the application */
html,
body {
  height: 100%;
}

/* Add accessible line-height */
body {
  line-height: 1.5;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

main-wrapper {
  max-width: 1000px;
}

body {
  background-color: var(--color-style-4);
}

/*
  Header
*/

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  padding: 0 20px 0 20px;
  max-width: 1000px;
  min-height: 100px;
  color: black;
  font-family: 'Open Sans';
  white-space: nowrap;
}

header nav {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: space-between;
  gap: 10px;
  max-width: fit-content;
}

header a {
  color: var(--color-style-3);
  text-decoration: none;
}

header .logo {
  display: flex;
  flex-shrink: 1;
  max-width: fit-content;
  color: var(--color-style-2);
  font-weight: 800;
  font-size: 2rem;
  text-transform: uppercase;
}

.rect {
  align-self: center;
  background-color: var(--color-rect);
  width: 2px;
  height: 1rem;
}

@media (max-width: 768px) {
  header {
    justify-content: space-evenly;
  }
}

@media (max-width: 480px) {
  header {
  }

  header nav {
    align-items: center;
  }

  header .logo {
  }
}
