@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;700&family=Open+Sans:wght@400;600;800&family=Source+Sans+Pro&display=swap');

:root {
  --color-style-1: #368ac2;
  --color-style-2: #5f5f5f;
  --color-style-3: #dadada;
  --color-style-4: #0c0c0c;
  --color-style-5: #6b9396;
  --color-style-6: #69c8d6;
  --max-width-main: 1300px;
}

/*
  CSS reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}
/*
  end css reset
*/
html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url(https://source.unsplash.com/l7R85WBKl1c); */
  /* background-image: url("../img/paul-volkmer-fX-qWsXl5x8-unsplash.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  background-color: var(--color-style-4);
  color: var(--color-style-3);
  /* accessible line-height */
  line-height: 1.5;
}

.blur-bg {
  backdrop-filter: blur(40px);
}

/*
  Header
*/
header {
  display: flex;
  position: sticky;
  top: 0;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 0px auto;
  padding: 0px 40px 0px 40px;
  max-width: var(--max-width-main);
  min-height: 100px;
  font-family: 'Open Sans', sans-serif;
  white-space: nowrap;
}

header nav {
  display: flex;
  flex-shrink: 1;
  justify-content: space-between;
  gap: 15px;
}

header nav a {
  color: var(--color-style-3);
  font-size: 0.875rem;
  font-family: 'Bitter', serif;
  text-decoration: none;
}

header .logo {
  display: flex;
  flex-shrink: 1;
  color: var(--color-style-2);
  font-weight: 800;
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-spacer {
  align-self: center;
  border-radius: 2px;
  background-color: var(--color-style-1);
  width: 2px;
  height: 1.2rem;
}

/*
  Hero Section
*/

.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto 0 auto;
  padding: 0px 40px 10px 40px;
  max-width: var(--max-width-main);
  height: 400px;
}

.hero-image-container {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  box-shadow: 0px 0px 70px var(--color-style-1);
  border: 5px solid var(--color-style-5);
  border-radius: 50%;
  background: linear-gradient(-45deg, var(--color-style-1) 40%, var(--color-style-6) 60%);
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.hero-aside {
  display: flex;
  flex-shrink: 1;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 50px;
  max-width: 40%;
}

.hero-text {
  color: var(--color-style-3);
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.hero-bold {
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    -45deg,
    var(--color-style-1) 25%,
    var(--color-style-6) 45%,
    var(--color-style-1) 55%,
    var(--color-style-6) 75%,
    var(--color-style-1) 85%
  );
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 800;
  font-family: 'Open Sans', sans-serif;
}

.hero-links {
  display: flex;
  justify-content: center;
  width: 100%;
}

.hero-links img {
  display: inline;
}

.hero-links a {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  transition: 0.3s;
  margin-right: 20px;
  border-radius: 3px;
  padding: 5px;
  color: var(--color-style-3);
  font-size: 0.875rem;
  font-family: 'Bitter', serif;
  text-decoration: none;
}

.hero-links a:hover {
  box-shadow: 0px 0px 30px #4d4d4d;
  background-color: #4d4d4d;
}

.long-line {
  position: absolute;
  left: 50px;
  border-radius: 3px;
  background-image: linear-gradient(to bottom, var(--color-style-1), var(--color-style-5));
  width: 3px;
  height: 750px;
}

/*
  Tech Stack
*/

.tech-stack-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 0px 40px 10px 40px;
}

.tech-stack-list {
  color: var(--color-style-3);
  font-weight: bold;
  font-size: 0.8rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

.tech-stack-list .line {
  display: flex;
  flex-shrink: 1;
  background-color: var(--color-style-3);
  width: 90px;
  height: 1px;
}

/*
  Work Section
*/

.work-title {
  display: flex;
  margin: 0 0 50px 25px;
  padding-left: 25px;
  font-weight: 800;
  font-size: 1.5rem;
  font-family: 'Source Sans Pro', sans-serif;
  text-decoration: underline;
}

.work {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 100px auto 150px auto;
  padding: 0px 40px 0px 40px;
  max-width: var(--max-width-main);
  color: var(--color-style-3);
}

.card:nth-child(even) {
  flex-direction: row-reverse;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 125px;
}

.card {
  display: flex;
  gap: 1.5rem;
}

.card-image-container {
  display: flex;
  min-width: 275px;
  max-width: 500px;
}

.card img {
  box-shadow: 0px 0px 10px #dadada49;
  border-radius: 10px;
  object-fit: fill;
}

.card-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  max-width: 300px;
}

.card-text {
  font-family: 'Source Sans Pro', sans-serif;
}

.card-title {
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

/*
  Badges
*/

.card-badges {
  padding-left: 10px;
}

.badge {
  display: inline-block;
  margin-right: 5px;
  border-radius: 10px;
  background-color: var(--color-style-2);
  padding: 2px 10px 2px 10px;
  max-width: fit-content;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.75rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.shopify {
  background-color: #96bf48;
}

.full-stack {
  background-color: #ea4e56;
}

.javascript {
  background-color: #f7df1e;
  color: var(--color-style-4);
}

.front-end {
  background-color: #368ac2;
}

.wordpress {
  background-color: #21759b;
}

/*
  Contact Section
*/

.form-bg-image {
  position: absolute;
  top: -45px;
  right: 100px;
}

.contact-section {
  display: flex;
  position: relative;
  justify-content: center;
  margin: 0 auto 50px auto;
  /* border: 1px rgb(204, 176, 53) solid; */
  max-width: var(--max-width-main);
}

.contact-form-container {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  background-color: #20202075;
  max-width: 645px;
  height: 400px;
}

.text-aside {
  /* padding-right: 30px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
  width: 40%;
  height: 100%;
}

.form-image-container {
  display: flex;
  /* position: relative; */
  flex-grow: 1;
  align-items: flex-end;
}

.form-image-container img {
  position: absolute;
  /* bottom: 0; */
}

.form-text {
  font-family: 'Source Sans Pro', sans-serif;
}

.form-image-1 {
  padding: 0 0 3px 5px;
}

.contact-section .title {
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

form {
  padding: 25px;
  /* display: flex; */
  width: 60%;
  line-height: 2rem;
}

.form-submit {
  /* margin-top: 20px; */
  border: none;
  border-radius: 5px;
  background-color: var(--color-style-1);
  width: 100%;
  color: #000000;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif;
}

.form-submit:hover {
  box-shadow: 0 0 5px var(--color-style-6);
}

form input,
form textarea {
  display: block;
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid var(--color-style-3);
  border-radius: 4px;
  background: #00000066;
  /* background-color: #21759b; */
  padding-left: 10px;
  width: 100%;
  color: var(--color-style-3);
  font-family: 'Bitter', serif;
}

form input:focus,
form textarea:focus {
  border-bottom-color: #00000000;
}

form textarea {
  height: 180px;
}

/*
  Footer Section
*/

footer {
  display: flex;
  justify-content: flex-start;
  border-top: 2px solid var(--color-style-6);
  height: 75px;
}

.footer-container {
  display: flex;
  max-width: var(--max-width-main);
  /* min-height: 100px; */
}

.footer-text {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

footer .hero-links {
  gap: 30px;
  padding-left: 50px;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    justify-content: space-around;
  }

  header nav {
    align-items: center;
    font-size: 0.7rem;
  }

  .hero-aside {
    gap: 15px;
  }

  .card {
    flex-direction: column;
  }

  .card:nth-child(even) {
    flex-direction: column;
  }

  .card-image-container {
    align-self: center;
  }

  .card-aside {
    align-self: center;
    max-width: 400px;
  }

  .form-bg-image {
    /* position: absolute; */
    /* top: 10px; */
    /* right: 0; */
    display: none;
  }

  .work-title {
    justify-content: center;
    padding-left: 0;
    font-size: 1.5rem;
  }

  footer {
    justify-content: center;
  }

  footer .hero-links {
    padding-left: 0;
  }
}

@media (max-width: 480px) {
  header {
    margin-bottom: 40px;
  }

  .hero-section {
    flex-direction: column;
  }

  .hero-links {
    justify-content: center;
  }

  .hero-links a {
    margin: 0px;
    padding: 3px 7px 3px 3px;
  }

  .hero-image-container {
    gap: 5px;
  }

  .hero-aside {
    max-width: 100%;
  }

  .hero-text {
    font-size: 1.3rem;
    text-align: center;
  }

  .logo {
    font-size: 0.8rem;
  }

  .tech-stack-list {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .tech-stack-list .line {
    width: 100%;
  }

  .tech-stack-list span {
    width: 100%;
    text-align: center;
  }

  .work {
    margin: 100px auto 100px auto;
    padding: 0px 20px 0px 20px;
  }

  .contact-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
  }

  .contact-form-container .text-aside {
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    height: fit-content;
  }

  .form-image-container {
    display: none;
  }

  form {
    width: 100%;
  }

  .contact-form-container h1 {
    /* color: black; */
    text-align: center;
  }

  .contact-section .text-aside {
    gap: 5px;
  }
}
